In [4]:
import pandas as pd
import os as os
import pandasql as psql
from pandasql import sqldf
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import pymysql
import pandas as pd


pd.options.display.max_columns = 999

path = r"C:\Users\Tom-T\Google Drive\Queen's MMA\Machine Learning & AI - MMA 869\Final Project - Scene Dataset\sample01\SceneAnalytics.dbo.SP_AccountBalance.csv"
data = pd.read_csv(path)
data.head()

(18000, 24)

In [3]:
#Check for null values
nullcheck = data.isnull().sum()
nullcheck[nullcheck > 0]

Series([], dtype: int64)

In [16]:
#Investigation
data.loc[data['Adjustments']!= 0].head()

data.PointsTotal.value_counts()
#looks like the PointsTotal Column isn't good .. only 2 unique values, most of which are 0

#Recreate the points total column
data['PointsTotal'] = data['Points'] + data['Adjustments']
data.head()

In [18]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

#export dataframe into MySQL table
tableName   = "SP_AccountBalance"          

sqlEngine       = create_engine('mysql+pymysql://admin:m0mDba4r6y@mma860-teamkipling.ci9pdpp0ny8u.us-east-2.rds.amazonaws.com:3308/MMA_869', pool_recycle = -1)
dbConnection    = sqlEngine.connect()

try:
    frame           = data.to_sql(tableName, dbConnection, if_exists='replace', index=False);
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table SP_AccountBalance created successfully.