In [1]:
import pandas as pd
import numpy as np
import os as os
import pandasql as psql
from pandasql import sqldf
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import pymysql

path = r"/Users/rakeshdhara/Documents/Master of Management Analytics/23 869 Machine Learning and AI/Group Project/sample01/SceneAnalytics.dbo.SP_FactAttribute.csv"
data = pd.read_csv(path)
# data['Security Officer Name'] = data['Security Officer Name'].str.split('-').str[0]
# data['Security Officer NRIC/FIN Number'] = data['Security Officer NRIC/FIN Number'].str.replace(' ','')
data.head()
#data.to_csv(r"/Users/rakeshdhara/Documents/Master of Management Analytics/23 869 Machine Learning and AI/Group Project/sample01/SceneAnalytics.dbo.SP_FactAttribute.csv", index = False)

,Unique_member_identifier,isActive,OnlineTicketPurchaser_tendancy,OnlineTicketPurchaser_value,TuesdayAttendee_tendancy,TuesdayAttendee_value,ConcessionPurchaser_tendancy,ConcessionPurchaser_value,OpensEmail_tendancy,OpensEmail_value,AttendsWithChild_tendancy,AttendsWithChild_value,ClicksEmail_tendancy,ClicksEmail_value,WeekendMatineeViewer_tendancy,WeekendMatineeViewer_value,WeekdayMatineeViewer_tendancy,WeekdayMatineeViewer_value,RedemptionYearToDate,RedemptionProgramToDate
0,108701DA-D45E-4A42-B39D-38BE6E774628,True,False,7,False,47,True,53,True,MED,True,33,True,HIGH,False,13,False,27,False,False
1,E7E8F6EF-D376-46E9-B911-D574E8371C7C,True,False,0,False,33,False,33,True,HIGH,False,0,False,LOW,False,33,False,0,False,False
2,AE00C271-8F64-48E2-93FE-3BF6ABD6A004,True,True,67,False,30,False,43,True,HIGH,False,0,True,MED,False,10,False,37,True,True
3,8884A99B-36C3-47A3-8407-F102173458DF,True,True,100,False,0,True,100,True,HIGH,True,100,True,MED,True,100,False,0,True,True
4,9C94EF89-B7B9-4231-B36F-B522B5DBE218,True,False,0,False,67,False,67,True,LOW,False,0,False,LOW,False,33,False,0,False,False

In [2]:
#Check for null values
nullcheck = data.isnull().sum()
nullcheck[nullcheck > 0]

Series([], dtype: int64)

In [7]:
#Check data type
print(data.dtypes)

Unique_member_identifier          object
isActive                           int64
OnlineTicketPurchaser_tendancy     int64
OnlineTicketPurchaser_value        int64
TuesdayAttendee_tendancy           int64
TuesdayAttendee_value              int64
ConcessionPurchaser_tendancy       int64
ConcessionPurchaser_value          int64
OpensEmail_tendancy                int64
OpensEmail_value                  object
AttendsWithChild_tendancy          int64
AttendsWithChild_value             int64
ClicksEmail_tendancy               int64
ClicksEmail_value                 object
WeekendMatineeViewer_tendancy      int64
WeekendMatineeViewer_value         int64
WeekdayMatineeViewer_tendancy      int64
WeekdayMatineeViewer_value         int64
RedemptionYearToDate               int64
RedemptionProgramToDate            int64
dtype: object

In [6]:
#Transformations

#convert multiple features from boolean to integer format
data['isActive'] = data['isActive'].astype(int)
data['OnlineTicketPurchaser_tendancy'] = data['OnlineTicketPurchaser_tendancy'].astype(int)
data['TuesdayAttendee_tendancy'] = data['TuesdayAttendee_tendancy'].astype(int)
data['ConcessionPurchaser_tendancy'] = data['ConcessionPurchaser_tendancy'].astype(int)
data['OpensEmail_tendancy'] = data['OpensEmail_tendancy'].astype(int)
data['AttendsWithChild_tendancy'] = data['AttendsWithChild_tendancy'].astype(int)
data['ClicksEmail_tendancy'] = data['ClicksEmail_tendancy'].astype(int)
data['WeekendMatineeViewer_tendancy'] = data['WeekendMatineeViewer_tendancy'].astype(int)
data['WeekdayMatineeViewer_tendancy'] = data['WeekdayMatineeViewer_tendancy'].astype(int)
data['RedemptionYearToDate'] = data['RedemptionYearToDate'].astype(int)
data['RedemptionProgramToDate'] = data['RedemptionProgramToDate'].astype(int)

In [8]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

#export dataframe into MySQL table
tableName   = "SP_FactAttribute"          

sqlEngine       = create_engine('mysql+pymysql://admin:m0mDba4r6y@mma860-teamkipling.ci9pdpp0ny8u.us-east-2.rds.amazonaws.com:3308/MMA_869', pool_recycle = -1)
dbConnection    = sqlEngine.connect()

try:
    frame           = data.to_sql(tableName, dbConnection, if_exists='replace', index=False);
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table SP_FactAttribute created successfully.